.btn_small {
    height: 24px;
    width: 75px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}
.recipe_name_title {
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    margin: 5px;
    align-items: center;
}
.Add_recipe_title {
    font-family: 'Lucida Sans', 
                 'Lucida Sans Regular', 
                 'Lucida Grande', 
                 'Lucida Sans Unicode', 
                 'Geneva', 
                 Verdana, 
                 sans-serif;
    justify-content: center;
    align-content: center;
    margin: 1rem;
}
.footer-class-stick {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    z-index: 1;
    max-height: 35vh;
    overflow-y: scroll;
}
.formPage {
    margin-top: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-height: 60vh;
    position: relative;
    overflow-y: scroll;
}
.picOfMe {
    height:90px;
    float: left;
}
.spaceOut {
    margin-top: 20px;
    position: relative;
    max-height: 60vh;
    overflow-y: scroll;
    margin-bottom: 15px;
}
.logoTitle {
    margin-left: 15px;
}
.listOfRecipes {
    overflow-y: scroll;
    max-height: 60vh;
    margin-bottom: 15px;
}