{% extends 'base.html' %}{% block content %}

<h3>Add recipe</h3>
<div class="row">
    <form action="" method="POST" class="col s12">
    <div class="row">
    <div class="input-field col s12">
    <i class="material-icons prefix">poll</i>
    <select id="category" name="category_name">
      <option value="" disabled selected>Choose category</option>
      {% for category in categories %}
      <option value="{{category.category_name}}">{{category.category_name}}</option>
      {% endfor %}
    </select>
    <label>Recipe category</label>
  </div>
    </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">assignment</i>
          <input id="recipe_name" name="recipe_name" type="text" class="validate">
          <label for="recipe_name">Recipe name</label>
        </div>
        <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">subject</i>
          <textarea id="recipe_description" name="recipe_description" class="materialize-textarea"></textarea>
          <label for="recipe_description">Recipe description</label>
        </div>
        </div>

        <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">assignment_ind</i>
          <input id="submittedBy" name="submittedBy" class="validate"></textarea>
          <label for="submittedBy">Your name</label>
        </div>
        </div>

      <div class="row">
      <div class="switch">
    <label>
      <input id="isHealthy" name="isHealthy" type="checkbox">
      <span class="lever"></span>
      Healthy
    </label>
  </div>
  <div class="switch">
    <label>
      <input id="quickToMake" name="quickToMake" type="checkbox">
      <span class="lever"></span>
      Quick to make
    </label>
  </div>
      </div>
      </div>
    </form>
  </div>
{% endblock %}