{% extends 'base.html' %}
{% block content %}
    {% for recipe in recipes %}
    
    
    
    
    
    
    {% endfor %}
    <ul class="collapsible">
    {% for recipe in recipes %}
    <li>
      <div class="collapsible-header">
      
      <div class="col s3">
      <i class="material-icons">expand_more</i>
      <a class="waves-effect waves-light btn btn_small red">Delete</a>
      <a class="waves-effect waves-light btn btn_small blue">Edit</a>
      </div>

      <div class="col s9">
      <strong>{{ recipe.category }} - {{ recipe.recipe_name }}</strong>
      </div>

        
      </div>
      <div class="collapsible-body"><span>
      -Ingredients: {{ recipe.ingredients }}<br>
      -Description: {{ recipe.recipe_description }}<br>
      -Quick to make: {{ 'yes' if recipe.quickToMake == 'on' else 'no'}}<br>
      -Healthy: {{ 'yes' if recipe.isHealthy == 'on' else 'no'}}<br>
      -Submitted by: {{ recipe.submittedBy }}</span></div>
    </li>
    {% endfor %}
  </ul>
{% endblock %}