{% extends 'base.html' %}
{% block content %}
 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">André's Recipes!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="base.html">Home</a></li>
        <li><a href="badges.html">Recipes</a></li>
        <li><a href="collapsible.html">Contact me</a></li>
      </ul>
    </div>
  </nav>
    {% for recipe in recipes %}
    
    
    
    
    
    
    {% endfor %}
    <ul class="collapsible">
    {% for recipe in recipes %}
    <li>
      <div class="collapsible-header">
      
      <div class="col s3">
      <i class="material-icons">expand_more</i>
      <a class="waves-effect waves-light btn btn_small red">Delete</a>
      <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
      </div>

      <div class="col s9">
      <strong>{{ recipe.category }} - {{ recipe.recipe_name }}</strong>
      </div>

        
      </div>
      <div class="collapsible-body"><span>
      -Ingredients: {{ recipe.ingredients }}<br>
      -Description: {{ recipe.recipe_description }}<br>
      -Quick to make: {{ 'yes' if recipe.quickToMake == 'on' else 'no'}}<br>
      -Healthy: {{ 'yes' if recipe.isHealthy == 'on' else 'no'}}<br>
      -Submitted by: {{ recipe.submittedBy }}</span></div>
    </li>
    {% endfor %}
  </ul>
{% endblock %}